//mixins
@mixin text-center {
    text-align: center;
  }
  @mixin bg-loader{
    display: flex;
    position: fixed;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
    animation: disappear 3s linear forwards;
    
  }
  @mixin ring-loader{
    position: absolute;
    top: 10%;
    background-image: $bg-image;
    border: 14px solid #f3f3f3;
    border-top: 14px solid $tertiary-color;
    border-radius: 50%;
    animation: spin 3s linear forwards;
    width:80vh;
    height: 80vh;
    z-index: 11;
  }
  @mixin display-content {
    animation: appear 3.5s ease-in-out forwards;
  }